<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>Exercice 3</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>
<body>
  <button ng-click="p = false">para</button>
  <button ng-click="p = true">para1</button>
  <div ng-show="p" ng-hide="p">
    <p>Welcome</p>
  </div>
  <div ng-show="p">
    <p>lkojkj</p>
  </div>
  <script src="script.js"></script>
  <!-- <script src="voiture.json"></script> -->
</body>
</html>
